.footer {
  height: 30px;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 30px;
  background-color: white;
  margin-top: 30px;
  margin-left: 20px;
  color: rgb(3, 3, 3);
  font-size: small;
  font-style: inherit;
}
