.footer {
  height: 60px;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 90px;
  background-color: white;

  color: rgb(3, 3, 3);
  font-size: large;
  font-style: inherit;
  font-weight: bolder;
}
